body {
  text-align: center;
  font-style: normal;
  width: auto;
}

.top-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fbfbfd;
}

.top-container {
  width:768px;
  margin: auto;
  color: #1d1d1f;
}

.top-container h2 {
  font-size: 20px;
}

.top-container p {
  font-size: 15px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* positionプロパティをfixedに、topを0に指定してください */
  position:fixed;
  top:0;
  /* z-indexを10に指定してください */
  z-index:10;
}

.header-container {
  color: #e9edd3;
  padding-bottom: 20px;
}
